
			<div role="main" class="main">
				<!--<section class="page-header page-header-modern page-header-background page-header-background-md custom-bg-color-grey-1 mb-0" style="background-image: url(img/demos/education/backgrounds/page-header.jpg); background-position: 100% 100%;">-->

				<section class="page-header page-header-modern page-header-background page-header-background-md  mb-0" style="background-color: #296dfe;">
					<div class="container">
						<div class="row mt-2">
							<div class="col align-self-center p-static text-center">
								<h1 class="font-weight-bold text-color-secondary text-10">About Us</h1>
							</div>
						</div>
					</div>
				</section><div class="container">
					<div class="row pt-4">
							<div class="col">
								<div class="row text-center pb-4">
									<div class="col-md-center mx-md-center">
										<div class="overflow-hidden mb-3">
											<h1 class="word-rotator slide font-weight-bold text-9 mb-0 appear-animation animated maskUp appear-animation-visible" data-appear-animation="maskUp" style="animation-delay: 100ms;">
												We are <span class="text-info"> Future<strong>Analytica</strong> </span>
												<h4 class="text-info text-5">We deliver complete AI solutions from data to insights for smarter decisions </h4>
											</h1>
										</div>
										<div class="overflow-hidden mb-3">
											<h4 class="font-weight-light text-5 appear-animation animated maskUp appear-animation-visible" data-appear-animation="maskUp" data-appear-animation-delay="200" style="animation-delay: 200ms;">
												For companies who understand the power of using their data to get profitable hidden insights for  increasing business value, improve decision making and grow their revenue, without much complexity. <strong class="font-weight-bold"> FutureAnalytica </strong>
												<strong></strong> is the only holistic automated machine-learning, no-code <strong class="font-weight-bold">AI platform providing end to end seamless data-science</strong> because
												functionality with <strong class="font-weight-bold">data-lake, AI app-store & world-class data-science</strong> support, thus reducing time and effort in your data-science and AI journey.
											</h4>
										</div>
									</div>
								</div>
								</div>
								<div class="row mt-3 mb-5">
									<div class="col-md-4 appear-animation animated fadeInLeftShorter appear-animation-visible" data-appear-animation="fadeInLeftShorter" data-appear-animation-delay="800" style="animation-delay: 800ms;">
										<h3 class="font-weight-bold text-5 mb-2">Our Mission</h3>
										<p class="text-5 text-dark">Helping organizations in their AI journey through advanced AI technology and leading experts</p>
									</div>
									<div class="col-md-4 appear-animation animated fadeIn appear-animation-visible" data-appear-animation="fadeIn" data-appear-animation-delay="600" style="animation-delay: 600ms;">
										<h3 class="font-weight-bold text-5 mb-2">Our Vision</h3>
										<p class="text-5 text-dark"> To accelerate the world’s transition to AI for smarter data
											driven decisions
										</p>
									</div>
									<div class="col-md-4 appear-animation animated fadeInRightShorter appear-animation-visible" data-appear-animation="fadeInRightShorter" data-appear-animation-delay="800" style="animation-delay: 800ms;">
										<h3 class="font-weight-bold text-5 mb-2">Why are we unique ?</h3>
										<p class="text-5 text-dark"> We deliver complete end-to-end AI solutions for data driven decision making for organizations</p>
									</div>
								</div>
							</div>
						</div>
					</div>


				<section class="section section-height-3 bg-color-secondary border-0 m-0">
					<div class="container py-3">
						<div class="row align-items-center justify-content-center text-center text-lg-start">
							<div class="col-md-8 col-lg-9 mb-4 mb-lg-0">
								<h2 class="text-color-light font-weight-bold mb-0 appear-animation" data-appear-animation="fadeInRightShorterPlus" data-appear-animation-delay="150">Ready to kick-start your career?</h2>
							</div>
							<div class="col-lg-3 text-lg-end text-color-dark">
								<a href="/courses/" class="btn btn-light font-weight-bold btn-px-5 btn-py-3 mt-4 mb-2 appear-animation" data-appear-animation="fadeInLeftShorterPlus" data-appear-animation-delay="350">GET STARTED NOW</a>
							</div>
						</div>
					</div>
				</section>

			</div>

			
