{% extends "site/base.html" %}
{% block title %}  Contact Us  | futureanalytica.ai {% endblock title %}

{% block content %}




	<div role="main" class="main">
		<section class="page-header page-header-modern page-header-background page-header-background-md  mb-0" style="background-color: #296dfe;">

		<!--<section class="page-header page-header-modern page-header-background page-header-background-md custom-bg-color-grey-1 mb-0" style="background-image: url(img/demos/education/backgrounds/page-header.jpg); background-position: 100% 100%;">-->
			<div class="container">
				<div class="row mt-2">
					<div class="col align-self-center p-static text-center">
						<h1 class="font-weight-bold text-color-light text-10">Contact Us</h1>
					</div>
				</div>
			</div>
		</section>
		<div class="container">
			<div class="row py-3">
				
			</div>
			<div class="row py-3">
				<div class="overflow-hidden mb-3">
					<h1 class="pt-5 text-11 mb-0 appear-animation animated maskUp appear-animation-visible" data-appear-animation="maskUp" data-appear-animation-delay="200" data-plugin-options="{'accY': -200}" style="animation-delay: 200ms;">Future<strong>Analytica</strong>
						</h1>
					<h2 class="text-8">Your trusted AI partner</h2>
				</div>
				<div class="col">

					<p class="text-3-5 line-height-9">For companies who understand the power of using their data to get profitable hidden insights for  increasing business value, improve decision making and grow their revenue, without much complexity. <strong class="font-weight-bold">FutureAnalytica </strong>
						is the only company that provides <strong class="font-weight-bold">complete end-to-end AI solution</strong> because
						functionality with <strong class="font-weight-bold">data-lake, AI app-store & world-class data-science</p>

					<hr class="solid my-5">

					<div class="row">
						<div class="col-md-3 mb-4 mb-md-0 text-center">
							<div class="feature-box d-flex flex-column align-items-center">
								<div class="feature-box-icon bg-color-light feature-box-icon-extra-large appear-animation" data-appear-animation="fadeInLeftShorterPlus" data-appear-animation-delay="250">
									<img class="icon-animated" width="100" height="46" src="/static/img/demos/education/icons/icon-pin.svg" alt="" data-icon data-plugin-options="{'onlySVG': true, 'extraClass': 'svg-fill-color-primary'}" />
								</div>
								<div class="feature-box-info ps-0 appear-animation" data-appear-animation="fadeInLeftShorterPlus" data-appear-animation-delay="150">
									<p class="mt-2 pt-1 mb-0 text-1 p-relative top-5 text-uppercase">Address</p>
									<p class="mb-0 text-color-secondary text-4 font-weight-semi-bold">WeWork DLF Forum, Cybercity, Phase III, Gurugram, Haryana, India, 122002</p>
								</div>
							</div>
						</div>
						<div class="col-md-3 mb-4 mb-md-0 text-center">
							<div class="feature-box d-flex flex-column align-items-center">
								<div class="feature-box-icon bg-color-light feature-box-icon-extra-large appear-animation" data-appear-animation="fadeInLeftShorterPlus" data-appear-animation-delay="250">
									<img class="icon-animated" width="100" height="46" src="/static/img/demos/education/icons/icon-phone-call.svg" alt="" data-icon data-plugin-options="{'onlySVG': true, 'extraClass': 'svg-fill-color-primary'}" />
								</div>
								<div class="feature-box-info ps-0 appear-animation" data-appear-animation="fadeInLeftShorterPlus" data-appear-animation-delay="150">
									<p class="mt-2 pt-1 mb-0 text-1 p-relative top-5 text-uppercase">Phone Number</p>
									<p class="mb-0 text-color-secondary text-4 font-weight-semi-bold"><a href="tel:+1234567890" class="text-color-secondary">+91 9971615452</a></p>
								</div>
							</div>
						</div>
						<div class="col-md-3 mb-4 mb-md-0 text-center">
							<div class="feature-box d-flex flex-column align-items-center">
								<div class="feature-box-icon bg-color-light feature-box-icon-extra-large appear-animation" data-appear-animation="fadeInLeftShorterPlus" data-appear-animation-delay="250">
									<img class="icon-animated" width="100" height="46" src="/static/img/demos/education/icons/icon-mail.svg" alt="" data-icon data-plugin-options="{'onlySVG': true, 'extraClass': 'svg-fill-color-primary'}" />
								</div>
								<div class="feature-box-info ps-0 appear-animation" data-appear-animation="fadeInLeftShorterPlus" data-appear-animation-delay="150">
									<p class="mt-2 pt-1 mb-0 text-1 p-relative top-5 text-uppercase">E-mail Address</p>
									<p class="mb-0 text-color-secondary text-4 font-weight-semi-bold"><a href="mailto:porto@portotheme.com" class="text-color-secondary">info@futureanalytica.com</a></p>
								</div>
							</div>
						</div>
						<div class="col-md-3 mb-4 mb-md-0 text-center">
							<div class="feature-box d-flex flex-column align-items-center">
								<div class="feature-box-icon bg-color-light feature-box-icon-extra-large appear-animation" data-appear-animation="fadeInLeftShorterPlus" data-appear-animation-delay="250">
									<img class="icon-animated" width="100" height="46" src="/static/img/demos/education/icons/icon-appointment.svg" alt="" data-icon data-plugin-options="{'onlySVG': true, 'extraClass': 'svg-fill-color-primary'}" />
								</div>
								<div class="feature-box-info ps-0 appear-animation" data-appear-animation="fadeInLeftShorterPlus" data-appear-animation-delay="150">
									<p class="mt-2 pt-1 mb-0 text-1 p-relative top-5 text-uppercase">Working Days / Hours</p>
									<p class="mb-0 text-color-secondary text-4 font-weight-semi-bold">11:00AM - 7:00PM</p>
								</div>
							</div>
						</div>
					</div>

					<hr class="solid mt-5 mb-4">

				</div>
			</div>
			<div class="row pb-5 mb-3 p-2">
				<div class="col" style="background-color: #296dfe;">
					<h2 class="text-color-light font-weight-semi-bold text-6 line-height-1 mb-4 py-4">Send a Message</h2>
					<form class="contact-form custom-form-style-1" action="php/contact-form.php" method="POST">
						<div class="contact-form-success alert alert-success d-none mt-4">
							<strong>Success!</strong> Your message has been sent to us.
						</div>

						<div class="contact-form-error alert alert-danger d-none mt-4">
							<strong>Error!</strong> There was an error sending your message.
							<span class="mail-error-message text-1 d-block"></span>
						</div>

						<div class="row row-gutter-sm">
							<div class="form-group col-lg-6 mb-4">
								<input type="text" value="" data-msg-required="Please enter your name." maxlength="100" class="form-control" name="name" id="name" required placeholder="Your Name">
							</div>
							<div class="form-group col-lg-6 mb-4">
								<input type="text" value="" data-msg-required="Please enter your phone number." maxlength="100" class="form-control" name="phone" id="phone" required placeholder="Phone Number">
							</div>
						</div>
						<div class="row row-gutter-sm">
							<div class="form-group col-lg-6 mb-4">
								<input type="email" value="" data-msg-required="Please enter your email address." data-msg-email="Please enter a valid email address." maxlength="100" class="form-control" name="email" id="email" required placeholder="Your Name">
							</div>
							<div class="form-group col-lg-6 mb-4">
								<input type="text" value="" data-msg-required="Please enter the subject." maxlength="100" class="form-control" name="subject" id="subject" required placeholder="Subject">
							</div>
						</div>
						<div class="row">
							<div class="form-group col mb-4">
								<textarea maxlength="5000" data-msg-required="Please enter your message." rows="10" class="form-control" name="message" id="message" required placeholder="Your Message"></textarea>
							</div>
						</div>
						<div class="row">
							<div class="form-group col mb-0">
								<button type="submit" class="btn btn-light font-weight-bold btn-px-5 btn-py-3 mt-4 mb-2" data-loading-text="Loading...">SEND MESSAGE</button>
							</div>
						</div>
					</form>
				</div>
			</div>
		</div>

		<section class="section section-height-3 bg-color-gray border-0 m-0">
			<div class="container py-3">
				<div class="row align-items-center justify-content-center text-center text-lg-start">
					<div class="col-md-8 col-lg-9 mb-4 mb-lg-0">
						<h2 class=" font-weight-bold mb-0 appear-animation" data-appear-animation="fadeInRightShorterPlus" data-appear-animation-delay="150" style="color: #296dfe;">Ready to kick-start your career?</h2>
					</div>
					<div class="col-lg-3 text-lg-end">
						<a href="/courses/" class="btn btn-primary font-weight-bold btn-px-5 btn-py-3 mt-4 mb-2 appear-animation" data-appear-animation="fadeInLeftShorterPlus" data-appear-animation-delay="350">GET STARTED NOW</a>
					</div>
				</div>
			</div>
		</section>

	</div>

	
{% endblock content %}