{% extends "site/base.html" %}
{% block title %}  blog  | futureanalytica.ai {% endblock title %}

{% block content %}

			<div role="main" class="main">

				<!--<section class="page-header page-header-modern page-header-background page-header-background-md custom-bg-color-secondary mb-0" style="background-image: url(img/demos/education/backgrounds/page-header.jpg); background-position: 100% 100%;">-->
					<section class="page-header page-header-modern page-header-background page-header-background-md  mb-0" style="background-color: #296dfe;">

					<div class="container">
						<div class="row mt-5">
							<div class="col align-self-center p-static text-center">
								<h1 class="font-weight-bold text-color-light text-10">Blog</h1>
							</div>
						</div>
					</div>
				</section>
				<div class="container">
					<div class="row py-3">
						
					</div>
					<div class="row py-3">
						<div class="col-lg-8 mb-5 mb-lg-0">

							<article class="mb-5">
								<div class="card bg-transparent border-0 custom-border-radius-1">
									<div class="card-body p-0 z-index-1">
										<a href="/educationblog/" data-cursor-effect-hover="plus">
											<img class="card-img-top border-radius-0 mb-2" src="/static/img/demos/education/blog/Telecom_Blog_1200_720_2_2_RVJVpHE.jpg" alt="Card Image">
										</a>
										<p class="text-uppercase text-color-default text-1 my-2">
											<time pubdate datetime="2021-01-10">10 Jan 2021</time> 
											<span class="opacity-3 d-inline-block px-2">|</span> 
											3 Comments 
											<span class="opacity-3 d-inline-block px-2">|</span> 
											John Doe
										</p>
										<div class="card-body p-0">
											<h4 class="card-title text-5 font-weight-semi-bold pb-1 mb-2"><a class="text-color-secondary text-color-hover-primary text-decoration-none text-4" href="/educationblog/">Find out how AI-based and data-science …</a></h4>
											<p class="card-text mb-2">What is Customer Segmentation …</p>
											<a href="/educationblog/" class="text-decoration-none custom-link-hover-effects">
												<span class="btn btn-link font-weight-semi-bold text-decoration-none text-2 ps-0 text-uppercase" style="color: #296dfe;">
													Read More
												</span>
											</a>
										</div>
									</div>
								</div>
							</article>

							<article class="mb-5">
								<div class="card bg-transparent border-0 custom-border-radius-1">
									<div class="card-body p-0 z-index-1">
										<a href="/educationblog/" data-cursor-effect-hover="plus">
											<img class="card-img-top border-radius-0 mb-2" src="/static/img/demos/education/blog/Fraud_Detection_Blog_1200_720_1_bQqJpTM.jpg" alt="Card Image">
										</a>
										<p class="text-uppercase text-color-default text-1 my-2">
											<time pubdate datetime="2021-01-10">10 Jan 2021</time> 
											<span class="opacity-3 d-inline-block px-2">|</span> 
											3 Comments 
											<span class="opacity-3 d-inline-block px-2">|</span> 
											John Doe
										</p>
										<div class="card-body p-0">
											<h4 class="card-title text-5 font-weight-semi-bold pb-1 mb-2"><a class="text-color-secondary text-color-hover-primary text-decoration-none text-4" href="/educationblog/">How the No-Code cloud-agnostic AI platform …</a></h4>
											<p class="card-text mb-2">What is Fraud Detection? …</p>
											<a href="/educationblog/" class="text-decoration-none custom-link-hover-effects">
												<span class="btn btn-link font-weight-semi-bold text-decoration-none  text-2 ps-0 text-uppercase" style="color: #296dfe;">
													Read More
												</span>
											</a>
										</div>
									</div>
								</div>
							</article>

							<!--<ul class="custom-pagination-style-1 pagination pagination-rounded pagination-md justify-content-center">
								<li class="page-item"><a class="page-link" href="#" data-cursor-effect-hover="fit"><i class="fas fa-angle-left"></i></a></li>
								<li class="page-item active"><a class="page-link" href="#" data-cursor-effect-hover="fit">1</a></li>
								<li class="page-item"><a class="page-link" href="#" data-cursor-effect-hover="fit">2</a></li>
								<li class="page-item"><a class="page-link" href="#" data-cursor-effect-hover="fit">3</a></li>
								<li class="page-item"><a class="page-link" href="#" data-cursor-effect-hover="fit"><i class="fas fa-angle-right"></i></a></li>
							</ul>-->

						</div>
						<div class="blog-sidebar col-lg-4 pt-4 pt-lg-0 mb-5">
							<aside class="sidebar">
								
																
								<div class="py-1 clearfix">
									<hr class="my-2">
								</div>
								<div class="px-3 mt-4">
									<h3 class="text-color-secondary text-capitalize font-weight-bold text-5 m-0 mb-3">Recent Posts</h3>
									<div class="pb-2 mb-1">
										<a href="#" class="text-color-default text-uppercase text-1 mb-0 d-block text-decoration-none">10 Jan 2021 <span class="opacity-3 d-inline-block px-2">|</span> 3 Comments <span class="opacity-3 d-inline-block px-2">|</span> John Doe</a>
										<a href="#" class="text-color-secondary text-hover-primary font-weight-bold text-3 d-block pb-3 line-height-4">Lorem ipsum dolor sit amet</a>
										<a href="#" class="text-color-default text-uppercase text-1 mb-0 d-block text-decoration-none">10 Jan 2021 <span class="opacity-3 d-inline-block px-2">|</span> 3 Comments <span class="opacity-3 d-inline-block px-2">|</span> John Doe</a>
										<a href="#" class="text-color-secondary text-hover-primary font-weight-bold text-3 d-block pb-3 line-height-4">Consectetur adipiscing elit</a>
										<a href="#" class="text-color-default text-uppercase text-1 mb-0 d-block text-decoration-none">10 Jan 2021 <span class="opacity-3 d-inline-block px-2">|</span> 3 Comments <span class="opacity-3 d-inline-block px-2">|</span> John Doe</a>
										<a href="#" class="text-color-secondary text-hover-primary font-weight-bold text-3 d-block pb-3 line-height-4">Vivamus sollicitudin nibh luctus</a>
									</div>
								</div>
								<div class="py-1 clearfix">
									<hr class="my-2">
								</div>
								<div class="px-3 mt-4">
									<h3 class="text-color-secondary text-capitalize font-weight-bold text-5 m-0 mb-3">Recent Comments</h3>
									<div class="pb-2 mb-1">
										<a href="#" class="text-color-default text-2 mb-0 d-block text-decoration-none line-height-4">Admin on <strong class="text-color-secondary text-hover-primary text-4">Vivamus sollicitudin</strong> <span class="text-uppercase text-1 d-block pt-1 pb-3">10 Jan 2021</span></a>
										<a href="#" class="text-color-default text-2 mb-0 d-block text-decoration-none line-height-4">John Doe on <strong class="text-color-secondary text-hover-primary text-4">Lorem ipsum dolor</strong> <span class="text-uppercase text-1 d-block pt-1 pb-3">10 Jan 2021</span></a>
										<a href="#" class="text-color-default text-2 mb-0 d-block text-decoration-none line-height-4">Admin on <strong class="text-color-secondary text-hover-primary text-4">Consectetur adipiscing</strong> <span class="text-uppercase text-1 d-block pt-1 pb-3">10 Jan 2021</span></a>
									</div>
								</div>
								<div class="py-1 clearfix">
									<hr class="my-2">
								</div>
								
							</aside>
						</div>
					</div>
				</div>

			</div>

			{% endblock content %}
