{% extends "site/base.html" %}
{% block title %}  Machine Learning | futureanalytica.com {% endblock title %}

{% block content %}
<section class="section bg-color-light-scale-2 position-relative border-0 m-0">
					<div class="position-absolute top-0 left-0 w-50pct w-lg-auto d-none d-xl-block">
						<img src="/static/img/771.jpg" class="w-100 appear-animation animated fadeInRightShorter appear-animation-visible" data-appear-animation="fadeInRightShorter" data-appear-animation-delay="1000" data-appear-animation-duration="1s" alt="" style="animation-duration: 1s; animation-delay: 1000ms;">
					</div>
					<!--<div class="position-absolute top-0 right-0 w-50pct w-lg-auto d-none d-xl-block">
						<img src="https://images.pexels.com/photos/343457/pexels-photo-343457.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=280&w=260" class="w-100 appear-animation animated fadeInLeftShorter appear-animation-visible" data-appear-animation="fadeInLeftShorter" data-appear-animation-delay="1000" data-appear-animation-duration="1s" alt="" style="animation-duration: 1s; animation-delay: 1000ms;">
					</div>-->
					<div class="container py-5 my-5">
						<div class="row justify-content-center  py-3">
							<div class="col-lg-7 text-center">
								<div class="d-flex flex-column align-items-center justify-content-center h-100">
									<h3 class="bg-gradient text-light position-relative text-color-dark text-5 line-height-5 font-weight-semibold ls-0 px-4 mb-2 appear-animation animated fadeInDownShorterPlus appear-animation-visible" data-appear-animation="fadeInDownShorterPlus" data-plugin-options="{'minWindowWidth': 0}" style="animation-delay: 100ms;">
										<span class="position-absolute right-100pct top-50pct transform3dy-n50 opacity-7">
											<img src="" class="w-auto appear-animation animated fadeInRightShorter appear-animation-visible" data-appear-animation="fadeInRightShorter" data-appear-animation-delay="250" data-plugin-options="{'minWindowWidth': 0}" alt="" style="animation-delay: 250ms;">
										</span>
										Intorducing futureanalytica
										<span class="position-absolute left-100pct top-50pct transform3dy-n50 opacity-7">
											<img src="" class="w-auto appear-animation animated fadeInLeftShorter appear-animation-visible" data-appear-animation="fadeInLeftShorter" data-appear-animation-delay="250" data-plugin-options="{'minWindowWidth': 0}" alt="" style="animation-delay: 250ms;">
										</span>
									</h3>
									<h1 class="text-color-light font-weight-extra-bold text-10 text-md-12-13 line-height-1 mb-2 appear-animation animated blurIn appear-animation-visible" data-appear-animation="blurIn" data-appear-animation-delay="500" data-plugin-options="{'minWindowWidth': 0}" style="animation-delay: 500ms;">AI Cloud Platform</h1>
									<h4 class=" text-color-light text-6   text-center mb-4 initialized" data-plugin-animated-letters="" data-plugin-options="{'startDelay': 1000, 'minWindowWidth': 0, 'animationSpeed': 30}" style="min-height: 26px;">
										<strong>to accelerates end-to-end data science. </strong>
									</h4>
									<a href="/contact-us/" class="btn btn-gradient btn-modern font-weight-bold text-2 py-3 btn-px-5 mt-2 appear-animation animated fadeInUpShorter appear-animation-visible" data-appear-animation="fadeInUpShorter" data-appear-animation-delay="1800" data-plugin-options="{'minWindowWidth': 0}" style="animation-delay: 1800ms;">GET STARTED NOW <i class="fas fa-arrow-right ms-2"></i></a>
								</div>
							</div>
						</div>
					</div>
				</section>

<section class="section bg-color-light-scale-2 position-relative border-0 m-0">
    <div class="row">
        <div class="col-lg-6 match-height p-0 appear-animation animated fadeInRightShorter appear-animation-visible" data-appear-animation="fadeInRightShorter" data-appear-animation-delay="400" style="background-image: url(/static/img/soft.png); background-size: cover; background-position: center center; min-height: 450px; animation-delay: 400ms;"></div>
        <div class="col-lg-6 p-0 appear-animation animated fadeInLeftShorter appear-animation-visible" data-appear-animation="fadeInLeftShorter" data-appear-animation-delay="400" style="animation-delay: 400ms;">
            <section class="btn-gradient section section-height-5 section-dark match-height border-top-0 my-0">
                <div class="row text-center justify-content-center align-items-center h-100 mx-0">
                    <div class="col-lg-8 ">
                        <h1 class="text-transform-none text-8 line-height-2 mb-3">future<strong>analytica</strong></h1>
                        <h1 class="text-color-light font-weight-extra-bold text-5 font-weight-light mb-4">Natural Language Processing</h1>
                        <h4 class="text-color-light"> Learn how automated machine learning at futureanalytica save effort, time and cost for your data science team</h4>
                        <!--<a href="#" class="btn btn-light btn-xl font-weight-bold rounded-0 text-2 text-color-dark mb-3">LEARN MORE</a>-->
                    </div>
                </div>
            </section>
        </div>
    </div>
</section>

<section class="section section-height-5 section-with-shape-divider border-0 my-5 lazyloaded" data-bg-src="img/parallax/parallax-2.jpg" style="background-image: url(&quot;https://images.unsplash.com/photo-1546437744-529610df132e?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1374&q=80&quot;);">
					<div class="shape-divider shape-divider-reverse-xy" style="height: 212px;">
						<div class="shape-divider-horizontal-animation shape-divider-horizontal-animation-to-left start">
							<svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 1920 212" preserveAspectRatio="none">
								<polygon fill="#F3F3F3" points="0,75 479,161 1357,28 1701,56 1920,26 1920,213 0,212 "></polygon>
								<polygon fill="#FFFFFF" points="0,91 481,177 1358,44 1702,72 1920,42 1920,212 0,212 "></polygon>
							</svg>
						<svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 1920 212" preserveAspectRatio="none">
								<polygon fill="#F3F3F3" points="0,75 479,161 1357,28 1701,56 1920,26 1920,213 0,212 "></polygon>
								<polygon fill="#FFFFFF" points="0,91 481,177 1358,44 1702,72 1920,42 1920,212 0,212 "></polygon>
							</svg><svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 1920 212" preserveAspectRatio="none">
								<polygon fill="#F3F3F3" points="0,75 479,161 1357,28 1701,56 1920,26 1920,213 0,212 "></polygon>
								<polygon fill="#FFFFFF" points="0,91 481,177 1358,44 1702,72 1920,42 1920,212 0,212 "></polygon>
							</svg></div>
					</div>
	    			<div class="spacer py-3 my-3 text-center"></div>
                    <h1 class="text-light font-weight-extra-bold text-10 text-md-12-13 line-height-1 mb-2 appear-animation animated blurIn appear-animation-visible text-center text-light">Salient Features</h1>
                    <div class="spacer py-3 my-3 text-center"></div>
					<div class="shape-divider shape-divider-bottom shape-divider-reverse-y" style="height: 212px;">
						<div class="shape-divider-horizontal-animation shape-divider-horizontal-animation-to-right start">
							<svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 1920 212" preserveAspectRatio="none">
								<polygon fill="#F3F3F3" points="0,75 479,161 1357,28 1701,56 1920,26 1920,213 0,212 "></polygon>
								<polygon fill="#FFFFFF" points="0,91 481,177 1358,44 1702,72 1920,42 1920,212 0,212 "></polygon>
							</svg>
						<svg  version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 1920 212" preserveAspectRatio="none">
								<polygon fill="#F3F3F3" points="0,75 479,161 1357,28 1701,56 1920,26 1920,213 0,212 "></polygon>
								<polygon fill="#FFFFFF" points="0,91 481,177 1358,44 1702,72 1920,42 1920,212 0,212 "></polygon>
							</svg><svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 1920 212" preserveAspectRatio="none">
								<polygon fill="#F3F3F3" points="0,75 479,161 1357,28 1701,56 1920,26 1920,213 0,212 "></polygon>
								<polygon fill="#FFFFFF" points="0,91 481,177 1358,44 1702,72 1920,42 1920,212 0,212 "></polygon>
							</svg></div>
					</div>
				</section>
<section class=" section section-text-light section-background section-center section-overlay-opacity section-overlay-opacity-gradient">
    <div class="container">
        <div class="row text-dark">
            <div class="col py-4">
                <h1 class="text-dark mb-3">1. Multiple language support</h1>
                <h4 class="text-dark">futureanalytica supports multiple lanugages for classification, tagging, building predictive models and insights </h4>
                <p class="mb-0 text-dark">
					With pre-built multiple language models futureanalytica can process multiple
					languages to build custom machine learning and AI models. AI text models developed can be deployed by sophisticated ML Ops for business integration.

                </p>
            </div>
        </div>
    </div>
</section>



<section class=" section section-text-light section-background section-center section-overlay-opacity bg-primary">
    <div class="container">
        <div class="row">
            <div class="col py-4">
                <h1 class="mb-3">2. Sentiment Analysis</h1>
                <h4>Fine-grained Analysis | Emotion detection  | Multilingual analysis  | Multiple Intent Analysis</h4>
                <p class="mb-0 text-light"> Deeper insights about to identify who talks about a product and what exactly a person talks about in their feedback.
					Analyze consumer opinions and feelings in the original language in which they were expressed.
                </p>
            </div>
        </div>
    </div>
</section>

<section class=" section section-text-light section-background section-center section-overlay-opacity section-overlay-opacity-gradient">
    <div class="container">
        <div class="row">
            <div class="col py-4">
                <h1 class="text-dark mb-3">3. Deep AI model insights</h1>
                <h4 class="text-dark">Get automated AI model insights that captures insights at macro level to micro level. </h4>
                <p class="mb-0 text-dark"> futureanalytica AI platform automatically develops AI models insights for hundred of models you create. These
                    insights give you information for data scientists, business executive, data engineers and so on. The platform suggest the best model to be deployed.
                </p>
            </div>
        </div>
    </div>
</section>

<section class=" section section-text-light section-background section-center section-overlay-opacity bg-success">
    <div class="container">
        <div class="row">
            <div class="col py-4">
                <h1 class="mb-3">4. Batch and Real time Prediction</h1>
                <h4>Generate batch and real time prediction with simple click to get AI result and insight on your data</h4>
                <p class="mb-0 text-light">
                    futureanalytica provides batch and real time prediction on user data on demand. It can also be utilized to perform real time
                    data processing and generate AI result which can be connected to end-user applications over different media channels.

                </p>
            </div>
        </div>
    </div>
</section>

<section class="section section-with-shape-divider section-height-3   bg-gradient border-0 m-0" style="background-image: url(''); background-size: cover; background-position: center;">
					<div class="shape-divider" style="height: 116px;">
						<svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 1920 116" preserveAspectRatio="xMinYMin">
							<path class="custom-svg-fill-color-tertiary-darken" d="M0,24c2.86,0.42,7.41,1.1,13,2c6.13,0.98,10.67,1.77,12,2c11.67,2.01,42.24,7.05,68,11
								c7.79,1.2,22.72,3.48,41,6c20.75,2.86,38.83,5.06,74,9c41.19,4.61,62.09,6.95,93,10c57.4,5.66,101.17,9.03,114,10
								c9.13,0.69,40.29,3.02,109,7c48.33,2.8,87.04,5.04,132,7c76.86,3.35,135.02,4.27,184,5c104.27,1.56,187.39,0.71,234,0
								c21.92-0.34,91.62-1.5,183-5c50.62-1.94,106.43-4.12,181-9c57.01-3.73,108.05-7.94,152-12c94.91-8.78,162.37-17.44,182-20
								c41.76-5.45,72.06-10.09,96-14c21.23-3.47,39.04-6.63,52-9c0-11.67,0-23.33,0-35C1279-11,638-11-3-11C-2,0.67-1,12.33,0,24z"></path>
							<path fill="#F7F7F7" d="M-7,23c1.59,0.23,4.03,0.58,7,1c82.06,11.6,145.17,16.35,182,19c244.62,17.62,377,23,377,23
								c157.86,6.42,277.64,7.71,308,8c75.8,0.73,232.89,1.31,438-6c0,0,137.72-4.66,358-19c42.98-2.8,104.01-7.03,183-16
								c33.26-3.78,60.85-7.38,80-10c0-9.01,0-18.01,0-27.02c-644,0-1288,0-1932,0C-6.33,4.99-6.67,13.99-7,23z"></path>
						</svg>
					</div>
					<div class="shape-divider shape-divider-bottom" style="height: 102px;">
						<svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 1920 102" preserveAspectRatio="xMinYMin">
							<path fill="#F7F7F7" d="M1895,78c-56.71-6.03-113.75-12.1-167-17c-75.42-6.94-133.81-10.66-171-13c-62.1-3.91-108.85-5.97-155-8
								c-35.96-1.58-78.06-3.42-133-5c-59.81-1.72-103.18-2.23-172-3c-92.17-1.03-154.41-1.01-169-1c-69.05,0.05-115.16,0.67-137,1
								c-43.08,0.65-76.21,1.48-97,2c-28.02,0.7-71.13,1.8-128,4c-16.64,0.64-57.72,2.28-111,5c-26.12,1.33-67.11,3.45-121,7
								c-21.14,1.39-54.21,3.59-96,7c-19.93,1.63-39.22,3.32-47,4c-16.12,1.41-33.55,2.94-55,5c-26.48,2.54-19.07,2.04-77,8
								c-19.39,1.99-36.94,3.77-60.59,7.46V103H1923V81C1916.55,80.3,1906.82,79.26,1895,78z"></path>
						</svg>
					</div>
					<div class="container py-5 my-5">
						<div class="row align-items-center justify-content-center pt-3">
							<div class="col-md-9 col-lg-7 col-xl-9 text-center text-xl-start mb-4 mb-xl-0">
								<h2 class="text-color-light font-weight-medium line-height-4 text-9 negative-ls-1 mb-2">Experience the power of  <span class="font-weight-extra-bold custom-highlight-1 p-1 appear-animation animated customHighlightAnim appear-animation-visible" data-appear-animation="customHighlightAnim" data-appear-animation-delay="300" style="animation-delay: 300ms;">AI </span></h2>
								<h4>With World's most advanced no-code automated AI platform </h4>
							</div>
							<div class="col-xl-3 text-center text-xl-end">
								<div class="position-relative">
									<a href="/book-demo" class="btn btn-secondary btn-dark btn-modern font-weight-bold text-3 btn-px-4 py-3 appear-animation animated fadeInRightShorter appear-animation-visible" data-appear-animation="fadeInRightShorter" data-appear-animation-delay="550" style="animation-delay: 550ms;">BOOK A DEMO NOW</a>
								</div>
							</div>
						</div>
					</div>
				</section>

{% endblock content %}1
