{% extends "site/base.html" %}
{% block title %}  futureanalytica AI platform by role | futureanalytica.com {% endblock title %}

{% block content %}
<section class="section section-height-5 section-with-shape-divider border-0 my-5 lazyloaded" data-bg-src="img/parallax/parallax-2.jpg" style="background-image: url(&quot;https://cdn.pixabay.com/photo/2020/06/14/10/49/dna-5297378_1280.jpg&quot;);">
					<div class="shape-divider shape-divider-reverse-x" style="height: 116px;">
						<svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 1920 116" preserveAspectRatio="xMinYMin">
							<path fill="#FFF" d="M453,92c11.7-4.87,28.46-11.43,49-18c42.29-13.52,76.36-19.33,115-25c51.58-7.57,100.28-14.72,171-20
								c24.87-1.86,82.88-5.76,158-6c69.99-0.23,122.54,2.82,159,5c51.18,3.06,95.17,5.69,155,14c71.5,9.94,115.42,21.02,127,24
								c33.7,8.68,61.62,17.79,82,25C1130.33,91.33,791.67,91.67,453,92z"></path>
							<rect y="90" fill="#FFF" width="1920" height="26"></rect>
						</svg>
					</div>
					<div class="spacer py-2 my-2"></div>
                    <div class="text-center col-lg-12"> <h2 class="text-white  bg-gradient btn text-center   text-lg-16 text-md-12 "> futureanalytica</h2></div>

                    <div class="row">

                        <div class="col-lg-4 text-center"><h2 class=" bg-primary btn btn-modern  text-lg-8">Automated AI</h2></div>

                        <div class="col-lg-4 text-center"><h2 class=" bg-warning btn btn-modern  text-lg-8">Data Scientists</h2></div>

                        <div class="col-lg-4 text-center"><h2 class="bg-secondary btn btn-modern text-center text-lg-8">AI Marketplace</h2></div>
                    </div>
                    <div class="spacer py-2 my-2"></div>

					<div class="shape-divider shape-divider-bottom shape-divider-reverse-y" style="height: 116px;">
						<svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 1920 116" preserveAspectRatio="xMinYMin">
							<path fill="#FFF" d="M453,92c11.7-4.87,28.46-11.43,49-18c42.29-13.52,76.36-19.33,115-25c51.58-7.57,100.28-14.72,171-20
								c24.87-1.86,82.88-5.76,158-6c69.99-0.23,122.54,2.82,159,5c51.18,3.06,95.17,5.69,155,14c71.5,9.94,115.42,21.02,127,24
								c33.7,8.68,61.62,17.79,82,25C1130.33,91.33,791.67,91.67,453,92z"></path>
							<rect y="90" fill="#FFF" width="1920" height="26"></rect>
						</svg>
					</div>
				</section>


<section class="section bg-light  border-0 py-0 m-0 ">
<div class="container"></div>
    <div class=" row">
        <div class="col-lg-2"></div>
        <div class="col-lg-8">

        <hr class="d-lg-none tall">

        <h2 class="text-center  text-lg-8 text-white btn-gradient ">How futureanalytica platform supports end-users belong to various roles</h2>
            <br>

        <div class="toggle toggle-primary" data-plugin-toggle="" data-plugin-options="{ 'isAccordion': true }">

            <section class="toggle active">
                <a class="toggle-title text-lg-8">For Business Analysts</a>
                <div class="toggle-content" style="display: block;">
                    <br/>
                    <h2 class="">Meet All Your Needs in a Single Tool</h2>
                    <p class="text-lg-4 text-dark"> With futureanalytica business analysts can automate the most complex, time-consuming and repetitive tasks and shorten AI development times from months to days.
                    Conduct and collaborate AI projects, to deliver AI scalability and sustainability in your organization.
                    Neither expert knowledge in data science nor programming language is needed to start building sophisticated AI models through
                    futureanalytica AI platform.
                    Business analysts frequently spend significant time on preparing data for analysis. futureanalytica provide automated data analysis report that speed up
                        their data analysis by 10x.
                    </p>
                </div>
            </section>
            <section class="toggle">
                <a class="toggle-title text-lg-8">For Data Scientists</a>
                <div class="toggle-content" style="display: none;">
                    <br/>
                    <h2 class="">10x accleration in AI development</h2>
                    <p class="text-lg-4 text-dark">The futureanalytica is a unified AI platform, uses AI to perform in hours what traditionally requires months of iterative manual efforts,
                        thus freeing you from worrying how to solve and allowing you to focus on what to solve and how to create business values using AI. You can learn more with <a href="/platform">Plartform</a> link to see how
                    futureanalytica enables quicker AI model development and reduce effort for the entire data science team. There are various pre-built
                    AI solution to speed up time to value for tough problems across verticals that you may find suitable for you from the <a href="/ai-solutions">AI Solutions</a>
                    </p>
                </div>
            </section>
            <section class="toggle">
               <a class="toggle-title text-lg-8">For IT Operations</a>
                <div class="toggle-content">
                    <br/>
                    <h2 class="">Deploy AI model in a few clicks</h2>
                    <p class="text-lg-4 text-dark">
                        futureanlaytica allows simple model deployment with end-to-end monitoring for model performance and validation of results in real time.
                        The <a href="/platform">Plartform</a> has simple UI and in a few click your AI apps and real time API generates, ready for consumption. Previously for the AI model deployment
                        organizations need a strong software engineering team to build the UI, API that can be consumed through different channels but thanks to futureanalytica automated AI platform
                        one can achieved similar deployment in less effort, cost and time.
                    </p>
                </div>
            </section>
            <section class="toggle">
               <a class="toggle-title text-lg-8">For Executives and Analytics Leaders</a>
                <div class="toggle-content">
                    <br/>
                    <h2 class="">Better decision making with real business impact  </h2>
                    <p class="text-lg-4 text-dark">
                        Become proactive rather than reactive with futureanalytica AI. By automating entire data science team with simplicity the goal of analytic leaders
                        to focus on business problems as rest has been taken care by futureanalytica. Now executive and analytics leaders can capitalize AI and become AI driven organizations.
                    </p>
                </div>
            </section>
        </div>
    </div>
        <div class="col-lg-2"></div>
</div>
</section>

{% endblock content %}