{% extends "site/base.html" %}
{% block title %}  AI Solutions - Retail | futureanalytica.com {% endblock title %}

{% block content %}

<section class="section bg-color-light-scale-2 position-relative border-0 m-0">
					<div class="position-absolute top-0 left-0 w-50pct w-lg-auto d-none d-xl-block">
						<img src="/static/img/ai-technology.jpg" class="w-100 appear-animation animated fadeInRightShorter appear-animation-visible" data-appear-animation="fadeInRightShorter" data-appear-animation-delay="1000" data-appear-animation-duration="1s" alt="" style="animation-duration: 1s; animation-delay: 1000ms;">
					</div>
					<!--<div class="position-absolute top-0 right-0 w-50pct w-lg-auto d-none d-xl-block">
						<img src="https://images.pexels.com/photos/343457/pexels-photo-343457.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=280&w=260" class="w-100 appear-animation animated fadeInLeftShorter appear-animation-visible" data-appear-animation="fadeInLeftShorter" data-appear-animation-delay="1000" data-appear-animation-duration="1s" alt="" style="animation-duration: 1s; animation-delay: 1000ms;">
					</div>-->
					<div class="container py-5 my-5">
						<div class="row justify-content-center py-3">
							<div class="col-lg-7 text-center">
								<div class="d-flex flex-column align-items-center justify-content-center h-100">
									<h3 class="position-relative text-color-light text-5 line-height-5 font-weight-semibold ls-0 px-4 mb-2 appear-animation animated fadeInDownShorterPlus appear-animation-visible" data-appear-animation="fadeInDownShorterPlus" data-plugin-options="{'minWindowWidth': 0}" style="animation-delay: 100ms;">
										<span class="position-absolute right-100pct top-50pct transform3dy-n50 opacity-7">
											<img src="" class="w-auto appear-animation animated fadeInRightShorter appear-animation-visible" data-appear-animation="fadeInRightShorter" data-appear-animation-delay="250" data-plugin-options="{'minWindowWidth': 0}" alt="" style="animation-delay: 250ms;">
										</span>
										Intorducing futureanalytica
										<span class="position-absolute left-100pct top-50pct transform3dy-n50 opacity-7">
											<img src="" class="w-auto appear-animation animated fadeInLeftShorter appear-animation-visible" data-appear-animation="fadeInLeftShorter" data-appear-animation-delay="250" data-plugin-options="{'minWindowWidth': 0}" alt="" style="animation-delay: 250ms;">
										</span>
									</h3>
									<h1 class="text-light bg-gradient font-weight-extra-bold text-10 text-md-12-13 line-height-1 mb-2 appear-animation animated blurIn appear-animation-visible" data-appear-animation="blurIn" data-appear-animation-delay="500" data-plugin-options="{'minWindowWidth': 0}" style="animation-delay: 500ms;">
										&nbsp; AI Cloud Platform &nbsp; </h1>
									<div class="spacer py-2 my-2 text-color-light"></div>
                                    <h3 class="text-color-light ">for</h3>
                                    <h1 class="text-lg-12 word-rotator letters type mb-2 text-gradient">
										<span class="word-rotator-words1 text-warning">
											<h5 class="text-color-light text-gradient is-visible" style="opacity: 1;">Manufacturing</h5>

                                        </span>
										<br/>
									</h1>
									<a href="/contact-us/" class="btn btn-gradient btn-modern font-weight-bold text-2 py-3 btn-px-5 mt-2 appear-animation animated fadeInUpShorter appear-animation-visible text-color-light" data-appear-animation="fadeInUpShorter" data-appear-animation-delay="1800" data-plugin-options="{'minWindowWidth': 0}" style="animation-delay: 1800ms;">GET STARTED NOW <i class="fas fa-arrow-right ms-2"></i></a>
								</div>
							</div>
						</div>
					</div>
				</section>

<section class="section section-height-5 section-with-shape-divider border-0 my-5 lazyloaded" data-bg-src="https://images.pexels.com/photos/3861969/pexels-photo-3861969.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260" style="background-image: url(/static/img/new4.png);">
					<div class="shape-divider shape-divider-reverse-xy" style="height: 120px;">
						<div class="shape-divider-horizontal-animation shape-divider-horizontal-animation-to-left start">
							<svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 2000 120" preserveAspectRatio="none">
								<polygon fill="#FFF" points="-11,2 693,112 2019,6 2019,135 -11,135 "></polygon>
							</svg>
						<svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 2000 120" preserveAspectRatio="none">
								<polygon fill="#FFF" points="-11,2 693,112 2019,6 2019,135 -11,135 "></polygon>
							</svg><svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 2000 120" preserveAspectRatio="none">
								<polygon fill="#FFF" points="-11,2 693,112 2019,6 2019,135 -11,135 "></polygon>
							</svg></div>
					</div>
					<div class="spacer py-5 my-5"></div>
					<div class="shape-divider shape-divider-bottom shape-divider-reverse-y" style="height: 120px;">
						<div class="shape-divider-horizontal-animation shape-divider-horizontal-animation-to-right start">
							<svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 2000 120" preserveAspectRatio="none">
								<polygon fill="#FFF" points="-11,2 693,112 2019,6 2019,135 -11,135 "></polygon>
							</svg>
						<svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 2000 120" preserveAspectRatio="none">
								<polygon fill="#FFF" points="-11,2 693,112 2019,6 2019,135 -11,135 "></polygon>
							</svg><svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 2000 120" preserveAspectRatio="none">
								<polygon fill="#FFF" points="-11,2 693,112 2019,6 2019,135 -11,135 "></polygon>
							</svg></div>
					</div>
	<div class="row">
		<div class="col-lg-12 text-center ">
			<h3 class="text-light">Powered by </h3>
			<h1 class="text-light font-weight-extra-bold text-10 text-md-12-13 line-height-1 mb-2 appear-animation animated blurIn appear-animation-visible" data-appear-animation="blurIn" data-appear-animation-delay="500" data-plugin-options="{'minWindowWidth': 0}" style="animation-delay: 500ms;">
				Superior AI algorithms</h1>
		</div>
	</div>

</section>


<!-- start of use cases -->
<div class="container container-xl-custom ">
    <div class="row  my-5">
        <div class="col-lg-6 pe-lg-5 mb-5 mb-lg-0">
            <h4 class="text-primary font-weight-light">future<strong>analytica</strong></h4>
            <h2 class="font-weight-bold mb-4">AI Solutions for Manufacturing</h2>
            <p class="text-color-dark text-6 line-height-5"> Artificial Intelligence (AI) is most commonly applied in manufacturing to improve overall equipment efficiency (OEE) and first-pass yield in production. Over time, manufacturers can use AI to increase uptime, improve quality and consistency, which allows for better forecasting.</p>

        </div>
        <div class="col-md-10 col-lg-6">
            <div class="row">
                <div class="col-4 mb-4">
                    <div class="appear-animation animated fadeInUp appear-animation-visible" data-appear-animation="fadeInUp" data-appear-animation-delay="200" style="animation-delay: 200ms;">
                        <span class="d-inline-block font-weight-extra-bold text-color-primary font-italic line-height-1 text-14 ls-0 mb-2">01</span>
                        <h4 class="font-weight-bold text-5 ps-1 mb-2">Predictive Maintenance</h4>
                        <p>Predictive maintenance to reduce unplanned downtime. Optimize strategies to improve revenue and reduce cost to enhance
							productivity. </p>
                    </div>
                </div>
                <div class="col-4 mb-4">
                    <div class="appear-animation animated fadeInUp appear-animation-visible" data-appear-animation="fadeInUp" data-appear-animation-delay="600" style="animation-delay: 600ms;">
                        <span class="d-inline-block font-weight-extra-bold text-color-primary font-italic line-height-1 text-14 ls-0 mb-2">02</span>
                        <h4 class="font-weight-bold text-5 ps-1 mb-2">Production Optimization</h4>
                        <p>
							With AI, engineers can find the optimized process recipe for different products. Questions like ‘What conveyor speed or temperature should I input for the highest yield?’ or ‘What machine should I use for this high pitch emerging technology circuit board?’.

						</p>

                    </div>
                </div>
                <div class="col-4 mb-4">
                    <div class="appear-animation animated fadeInUp appear-animation-visible" data-appear-animation="fadeInUp" data-appear-animation-delay="600" style="animation-delay: 600ms;">
                        <span class="d-inline-block font-weight-extra-bold text-color-primary font-italic line-height-1 text-14 ls-0 mb-2">03</span>
                        <h4 class="font-weight-bold text-5 ps-1 mb-2">Supply Chain Optimisation</h4>
                        <p>manufacturers can define the optimized supply chain solution for all their products. Questions like ‘How many resistors should be ordered for the next quarter?’ or ‘What's the best shipping route for product A’ </p>

                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-4 mb-4 mb-sm-0">
                    <div class="appear-animation animated fadeInUp appear-animation-visible" data-appear-animation="fadeInUp" data-appear-animation-delay="1000" style="animation-delay: 1000ms;">
                        <span class="d-inline-block font-weight-extra-bold text-color-primary font-italic line-height-1 text-14 ls-0 mb-2">04</span>
                        <h4 class="font-weight-bold text-5 ps-1 mb-2">IT operations</h4>
                        <p>1. Collecting and integrating data from sensors and equipment in factories
2. Real-time tracking and monitoring of the shop floor and measuring their performance against set benchmarks
3. Using predictive analytics to identify, predict, and prevent IT service issues as well as to perform accurate capacity planning
Using big data analytics to track and improve resource utilization as well as infrastructure performance on the cloud</p>

                    </div>
                </div>
                <div class="col-4">
                    <div class="appear-animation animated fadeInUp appear-animation-visible" data-appear-animation="fadeInUp" data-appear-animation-delay="1400" style="animation-delay: 1400ms;">
                        <span class="d-inline-block font-weight-extra-bold text-color-primary font-italic line-height-1 text-14 ls-0 mb-2">05</span>
                        <h4 class="font-weight-bold text-5 ps-1 mb-2">Energy Managemenet</h4>
                        <p>AI look into energy consumption of a production operation can significantly reduce operations costs. Reduced cost can allocate more funding for process improvement resources which can lead to higher yield and quality.</p></div>
                </div>
                <div class="col-4">
                    <div class="appear-animation animated fadeInUp appear-animation-visible" data-appear-animation="fadeInUp" data-appear-animation-delay="1400" style="animation-delay: 1400ms;">
                        <span class="d-inline-block font-weight-extra-bold text-color-primary font-italic line-height-1 text-14 ls-0 mb-2">06</span>
                        <h4 class="font-weight-bold text-5 ps-1 mb-2">Attrition Management</h4>
                        <p> Uncover issues that drive both dissatisfaction and churn With AI powered Preemptive client engagement. Firms can identify clients at high risk of attrition by learning from examples of clients that have closed or moved accounts in the past. </p>
                    </div>
                </div>
            </div>
			 <div class="row">
                <div class="col-4 mb-4 mb-sm-0">
                    <div class="appear-animation animated fadeInUp appear-animation-visible" data-appear-animation="fadeInUp" data-appear-animation-delay="1000" style="animation-delay: 1000ms;">
                        <span class="d-inline-block font-weight-extra-bold text-color-primary font-italic line-height-1 text-14 ls-0 mb-2">07</span>
                        <h4 class="font-weight-bold text-5 ps-1 mb-2">Predictive Yield</h4>
                        <p>1Predicting yield can better prepare supply chain and inventory management on future component needs. Knowing if yield will be lower than expected can alert production management to increase production time to meet demand needs. </p>

                    </div>
                </div>
                <div class="col-4">
                    <div class="appear-animation animated fadeInUp appear-animation-visible" data-appear-animation="fadeInUp" data-appear-animation-delay="1400" style="animation-delay: 1400ms;">
                        <span class="d-inline-block font-weight-extra-bold text-color-primary font-italic line-height-1 text-14 ls-0 mb-2">08</span>
                        <h4 class="font-weight-bold text-5 ps-1 mb-2">Warehouse management</h4>
                        <p>Demand forecasting can further help manufacturers take action to stock up their warehouses in advance and keep up with the customer demand without enormous transportation costs.</p></div>
                </div>
                <div class="col-4">
                    <div class="appear-animation animated fadeInUp appear-animation-visible" data-appear-animation="fadeInUp" data-appear-animation-delay="1400" style="animation-delay: 1400ms;">
                        <span class="d-inline-block font-weight-extra-bold text-color-primary font-italic line-height-1 text-14 ls-0 mb-2">09</span>
                        <h4 class="font-weight-bold text-5 ps-1 mb-2">Cybersecurity</h4>
                        <p> AI-driven cybersecurity systems and risk detection mechanisms can help secure production facilities and mitigate threats. Using self-learning AI, manufacturers can spot attacks across cloud services and IoT devices and interrupt them in seconds, with surgical precision.  </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- end of use cases -->



<section class="section   section-with-shape-divider border-0 my-5 lazyloaded" data-bg-src="img/parallax/parallax-2.jpg" style="background-image: url(&quot;https://cdn.pixabay.com/photo/2021/05/30/21/47/dots-6297146_1280.jpg&quot;);">
					<div class=" shape-divider shape-divider-reverse-xy" style="height: 212px;">
						<div class="shape-divider-horizontal-animation shape-divider-horizontal-animation-to-left start">
							<svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 1920 212" preserveAspectRatio="none">
								<polygon fill="#F3F3F3" points="0,75 479,161 1357,28 1701,56 1920,26 1920,213 0,212 "></polygon>
								<polygon fill="#FFFFFF" points="0,91 481,177 1358,44 1702,72 1920,42 1920,212 0,212 "></polygon>
							</svg>

						<svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 1920 212" preserveAspectRatio="none">
								<polygon fill="#F3F3F3" points="0,75 479,161 1357,28 1701,56 1920,26 1920,213 0,212 "></polygon>
								<polygon fill="#FFFFFF" points="0,91 481,177 1358,44 1702,72 1920,42 1920,212 0,212 "></polygon>
							</svg><svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 1920 212" preserveAspectRatio="none">
								<polygon fill="#F3F3F3" points="0,75 479,161 1357,28 1701,56 1920,26 1920,213 0,212 "></polygon>
								<polygon fill="#FFFFFF" points="0,91 481,177 1358,44 1702,72 1920,42 1920,212 0,212 "></polygon>
							</svg>
						</div>
					</div>
					<div class="spacer py-5 my-5"></div>
			<div class="row ">
				<div class="call-to-action-content text-center text-light">
						<h1 class="text-light text-lg-12">Become an AI-powered firm today</h1>
						<br/>
						<a href="/contact-us/" target="_blank" class="btn btn-gradient btn-modern text-2 btn-primary">Get Started Now</a>
				</div>
			</div>
</section>



<section class="section bg-light">
	<div class="container heading heading-border heading-middle-border">
		<h1 class="font-weight-normal">Success <strong class="font-weight-extra-bold text-primary">Stories</strong></h1>
	</div>
	<div class="container">

		<div class="row row-gutter-sm">
			{% for post in posts %}
				<div class="col-lg-4 mb-4 mb-lg-0">
					<article>
						<div class="card border-0 border-radius-0">
							<div class="card-body bg-color-light-scale-1 p-4 z-index-1">
								
								<img src="/media/{{post.document}}" class="img-fluid center-block" alt="blogimage">												
								<div class="card-body p-0">
									<h4 class="card-title mb-3 text-5 font-weight-semibold"><a class="text-color-dark text-color-hover-primary text-decoration-none font-weight-bold text-3-5" href="/blog/{{post.slug}}">{{post.title|truncatewords:6|safe}}</a></h4>
									<p class="card-text mb-2">{{post.body|truncatewords:10|safe}}</p>
									<a class="button-link" href="/blog/{{post.slug}}" class="custom-read-more d-inline-flex align-items-center font-weight-semibold text-3 text-decoration-none ps-0">
										Read more +
									</a>
								</div>
							</div>
						</div>
					</article>
				</div>
				{% endfor %}
							</div>
				</div>
</section>


{% endblock content %}