{% extends "site/base.html" %}
{% block title %}  AI Solutions - Retail | futureanalytica.com {% endblock title %}

{% block content %}

<section class="section bg-color-light-scale-2 position-relative border-0 m-0">
					<div class="position-absolute top-0 left-0 w-50pct w-lg-auto d-none d-xl-block">
						<img src="/static/img/5126124.jpg" class="w-100 appear-animation animated fadeInRightShorter appear-animation-visible" data-appear-animation="fadeInRightShorter" data-appear-animation-delay="1000" data-appear-animation-duration="1s" alt="" style="animation-duration: 1s; animation-delay: 1000ms;">
					</div>
					<!--<div class="position-absolute top-0 right-0 w-50pct w-lg-auto d-none d-xl-block">
						<img src="https://images.pexels.com/photos/343457/pexels-photo-343457.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=280&w=260" class="w-100 appear-animation animated fadeInLeftShorter appear-animation-visible" data-appear-animation="fadeInLeftShorter" data-appear-animation-delay="1000" data-appear-animation-duration="1s" alt="" style="animation-duration: 1s; animation-delay: 1000ms;">
					</div>-->
					<div class="container py-5 my-5">
						<div class="row justify-content-center py-3">
							<div class="col-lg-7 text-center">
								<div class="d-flex flex-column align-items-center justify-content-center h-100">
									<h3 class="position-relative text-color-light text-5 line-height-5 font-weight-semibold ls-0 px-4 mb-2 appear-animation animated fadeInDownShorterPlus appear-animation-visible" data-appear-animation="fadeInDownShorterPlus" data-plugin-options="{'minWindowWidth': 0}" style="animation-delay: 100ms;">
										<span class="position-absolute right-100pct top-50pct transform3dy-n50 opacity-7">
											<img src="" class="w-auto appear-animation animated fadeInRightShorter appear-animation-visible" data-appear-animation="fadeInRightShorter" data-appear-animation-delay="250" data-plugin-options="{'minWindowWidth': 0}" alt="" style="animation-delay: 250ms;">
										</span>
										Intorducing futureanalytica
										<span class="position-absolute left-100pct top-50pct transform3dy-n50 opacity-7">
											<img src="" class="w-auto appear-animation animated fadeInLeftShorter appear-animation-visible" data-appear-animation="fadeInLeftShorter" data-appear-animation-delay="250" data-plugin-options="{'minWindowWidth': 0}" alt="" style="animation-delay: 250ms;">
										</span>
									</h3>
									<h1 class="text-color-light font-weight-extra-bold text-10 text-md-12-13 line-height-1 mb-2 appear-animation animated blurIn appear-animation-visible" data-appear-animation="blurIn" data-appear-animation-delay="500" data-plugin-options="{'minWindowWidth': 0}" style="animation-delay: 500ms;">AI Cloud Platform</h1>
									<div class="spacer py-2 my-2"></div>
                                    <h3 class="text-color-light">for</h3>
                                    <h1 class="text-lg-12 word-rotator letters type mb-2 text-gradient">
										<span class="word-rotator-words text-gradient">
											<b class="text-color-light text-gradient is-visible" style="opacity: 1;">Retail</b>
                                        </span>
									</h1>
									<a href="/contact-us/" class="btn btn-gradient btn-modern font-weight-bold text-2 py-3 btn-px-5 mt-2 appear-animation animated fadeInUpShorter appear-animation-visible" data-appear-animation="fadeInUpShorter" data-appear-animation-delay="1800" data-plugin-options="{'minWindowWidth': 0}" style="animation-delay: 1800ms;">GET STARTED NOW <i class="fas fa-arrow-right ms-2"></i></a>
								</div>
							</div>
						</div>
					</div>
				</section>

<section class="section section-height-5 section-with-shape-divider border-0 my-5 lazyloaded" data-bg-src="https://images.pexels.com/photos/3861969/pexels-photo-3861969.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260" style="background-image: url(/static/img/Microsoft.png);">
					<div class="shape-divider shape-divider-reverse-xy" style="height: 120px;">
						<div class="shape-divider-horizontal-animation shape-divider-horizontal-animation-to-left start">
							<svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 2000 120" preserveAspectRatio="none">
								<polygon fill="#FFF" points="-11,2 693,112 2019,6 2019,135 -11,135 "></polygon>
							</svg>
						<svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 2000 120" preserveAspectRatio="none">
								<polygon fill="#FFF" points="-11,2 693,112 2019,6 2019,135 -11,135 "></polygon>
							</svg><svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 2000 120" preserveAspectRatio="none">
								<polygon fill="#FFF" points="-11,2 693,112 2019,6 2019,135 -11,135 "></polygon>
							</svg></div>
					</div>
					<div class="spacer py-5 my-5"></div>
					<div class="shape-divider shape-divider-bottom shape-divider-reverse-y" style="height: 120px;">
						<div class="shape-divider-horizontal-animation shape-divider-horizontal-animation-to-right start">
							<svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 2000 120" preserveAspectRatio="none">
								<polygon fill="#FFF" points="-11,2 693,112 2019,6 2019,135 -11,135 "></polygon>
							</svg>
						<svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 2000 120" preserveAspectRatio="none">
								<polygon fill="#FFF" points="-11,2 693,112 2019,6 2019,135 -11,135 "></polygon>
							</svg><svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 2000 120" preserveAspectRatio="none">
								<polygon fill="#FFF" points="-11,2 693,112 2019,6 2019,135 -11,135 "></polygon>
							</svg></div>
					</div>
	<div class="row">
		<div class="col-lg-12 text-center ">
			<h3 class="text-light">Powered by </h3>
			<h1 class="text-light font-weight-extra-bold text-10 text-md-12-13 line-height-1 mb-2 appear-animation animated blurIn appear-animation-visible" data-appear-animation="blurIn" data-appear-animation-delay="500" data-plugin-options="{'minWindowWidth': 0}" style="animation-delay: 500ms;">
				Superior AI algorithms</h1>
		</div>
	</div>

</section>


<!-- start of use cases -->
<div class="container container-xl-custom py-4">
    <div class="row py-lg-5 my-5">
        <div class="col-lg-6 pe-lg-5 mb-5 mb-lg-0">
            <h4 class="text-primary font-weight-light">future<strong>analytica</strong></h4>
            <h2 class="font-weight-bold mb-4">AI Solutions for Retail</h2>
            <p class="text-color-dark text-6 line-height-5">The global retail industry, which has grappled with waves of change over the past decade, is facing one of its most dynamic and unpredictable periods to date.
            Due to the naturally reduced consumer spending during the global pandemic, retailers are required to embrace AI and enjoy its benefits. </p>

        </div>
        <div class="col-md-10 col-lg-6">
            <div class="row">
                <div class="col-4 mb-4">
                    <div class="appear-animation animated fadeInUp appear-animation-visible" data-appear-animation="fadeInUp" data-appear-animation-delay="200" style="animation-delay: 200ms;">
                        <span class="d-inline-block font-weight-extra-bold text-color-primary font-italic line-height-1 text-14 ls-0 mb-2">01</span>
                        <h4 class="font-weight-bold text-5 ps-1 mb-2">Price and Promotions</h4>
                        <p>monitor and detect anomalies on price of products as listed on the website enables the business teams to proactively identify and prevent revenue leakages.</p>
                    </div>
                </div>
                <div class="col-4 mb-4">
                    <div class="appear-animation animated fadeInUp appear-animation-visible" data-appear-animation="fadeInUp" data-appear-animation-delay="600" style="animation-delay: 600ms;">
                        <span class="d-inline-block font-weight-extra-bold text-color-primary font-italic line-height-1 text-14 ls-0 mb-2">02</span>
                        <h4 class="font-weight-bold text-5 ps-1 mb-2">Cart Abandonment</h4>
                        <p>Proactively monitoring and detecting anomalies on shopping cart abandonment will help in better understanding the cause and prevent revenue loss. </p>

                    </div>
                </div>
                <div class="col-4 mb-4">
                    <div class="appear-animation animated fadeInUp appear-animation-visible" data-appear-animation="fadeInUp" data-appear-animation-delay="600" style="animation-delay: 600ms;">
                        <span class="d-inline-block font-weight-extra-bold text-color-primary font-italic line-height-1 text-14 ls-0 mb-2">03</span>
                        <h4 class="font-weight-bold text-5 ps-1 mb-2">Customer segmentation</h4>
                        <p>By dividing a customer base into specific groups, marketers can use predictive analytics to make forward-looking decisions to tailor content to unique audiences.</p>

                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-4 mb-4 mb-sm-0">
                    <div class="appear-animation animated fadeInUp appear-animation-visible" data-appear-animation="fadeInUp" data-appear-animation-delay="1000" style="animation-delay: 1000ms;">
                        <span class="d-inline-block font-weight-extra-bold text-color-primary font-italic line-height-1 text-14 ls-0 mb-2">04</span>
                        <h4 class="font-weight-bold text-5 ps-1 mb-2">Conversion and <br>purchase prediction</h4>
                        <p>Companies can take actions, like retargeting online ads to visitors, with data that predicts a greater likelihood of conversion and purchase intent.</p>

                    </div>
                </div>
                <div class="col-4">
                    <div class="appear-animation animated fadeInUp appear-animation-visible" data-appear-animation="fadeInUp" data-appear-animation-delay="1400" style="animation-delay: 1400ms;">
                        <span class="d-inline-block font-weight-extra-bold text-color-primary font-italic line-height-1 text-14 ls-0 mb-2">05</span>
                        <h4 class="font-weight-bold text-5 ps-1 mb-2">Price Optimisation</h4>
                        <p>Optimize different prices for its products and services through different channels to increase revenue and better customer royalty.</p>
                    </div>
                </div>
                <div class="col-4">
                    <div class="appear-animation animated fadeInUp appear-animation-visible" data-appear-animation="fadeInUp" data-appear-animation-delay="1400" style="animation-delay: 1400ms;">
                        <span class="d-inline-block font-weight-extra-bold text-color-primary font-italic line-height-1 text-14 ls-0 mb-2">06</span>
                        <h4 class="font-weight-bold text-5 ps-1 mb-2">Supply Chain optimisation</h4>
                        <p>Drive optimal strategies in planning, increase inventory productivity in supply chains, decrease operational costs.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- end of use cases -->



<section class="section  section-height-5 section-with-shape-divider border-0 my-5 lazyloaded" data-bg-src="img/parallax/parallax-2.jpg" style="background-image: url(&quot;https://cdn.pixabay.com/photo/2021/05/30/21/47/dots-6297146_1280.jpg&quot;);">
					<div class=" shape-divider shape-divider-reverse-xy" style="height: 212px;">
						<div class="shape-divider-horizontal-animation shape-divider-horizontal-animation-to-left start">
							<svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 1920 212" preserveAspectRatio="none">
								<polygon fill="#F3F3F3" points="0,75 479,161 1357,28 1701,56 1920,26 1920,213 0,212 "></polygon>
								<polygon fill="#FFFFFF" points="0,91 481,177 1358,44 1702,72 1920,42 1920,212 0,212 "></polygon>
							</svg>

						<svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 1920 212" preserveAspectRatio="none">
								<polygon fill="#F3F3F3" points="0,75 479,161 1357,28 1701,56 1920,26 1920,213 0,212 "></polygon>
								<polygon fill="#FFFFFF" points="0,91 481,177 1358,44 1702,72 1920,42 1920,212 0,212 "></polygon>
							</svg><svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 1920 212" preserveAspectRatio="none">
								<polygon fill="#F3F3F3" points="0,75 479,161 1357,28 1701,56 1920,26 1920,213 0,212 "></polygon>
								<polygon fill="#FFFFFF" points="0,91 481,177 1358,44 1702,72 1920,42 1920,212 0,212 "></polygon>
							</svg>
						</div>
					</div>
					<div class="spacer py-5 my-5"></div>
			<div class="row ">
				<div class="call-to-action-content text-center text-light">
						<h1 class="text-light"><strong class="text-light">futureanalytica</strong> <strong class="font-weight-extra-bold">enables</strong> enterprises to quickly turn <strong>AI</strong> into <strong class="font-weight-extra-bold">ROI!</strong></h1>
						<h4 class="mb-0 text-light ">Unleash the power of AI to improve your sales, product and services</h4>
						<br/>
						<a href="/contact-us/" target="_blank" class="btn btn-gradient btn-modern text-2 btn-primary">Get Started Now</a>
				</div>
			</div>
</section>



<section class="section bg-light">
	<div class="container heading heading-border heading-middle-border">
		<h1 class="font-weight-normal">Success <strong class="font-weight-extra-bold text-primary">Stories</strong></h1>
	</div>
	<div class="container">

		<div class="row row-gutter-sm">
			{% for post in posts %}
				<div class="col-lg-4 mb-4 mb-lg-0">
					<article>
						<div class="card border-0 border-radius-0">
							<div class="card-body bg-color-light-scale-1 p-4 z-index-1">
								
								<img src="/media/{{post.document}}" class="img-fluid center-block" alt="blogimage">												
								<div class="card-body p-0">
									<h4 class="card-title mb-3 text-5 font-weight-semibold"><a class="text-color-dark text-color-hover-primary text-decoration-none font-weight-bold text-3-5" href="/blog/{{post.slug}}">{{post.title|truncatewords:6|safe}}</a></h4>
									<p class="card-text mb-2">{{post.body|truncatewords:10|safe}}</p>
									<a class="button-link" href="/blog/{{post.slug}}" class="custom-read-more d-inline-flex align-items-center font-weight-semibold text-3 text-decoration-none ps-0">
										Read more +
									</a>
								</div>
							</div>
						</div>
					</article>
				</div>
				{% endfor %}
				</div>
				</div>
				
</section>


{% endblock content %}