{% extends "site/base.html" %}
{% block title %}  AI Solutions | futureanalytica.com {% endblock title %}

{% block content %}


<section class="section section-height-5 section-with-shape-divider border-0 my-5 lazyloaded" data-bg-src="img/parallax/parallax-2.jpg" style="background-image: url(&quot;https://images.pexels.com/photos/8386440/pexels-photo-8386440.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260&quot;);">
    <div class="shape-divider shape-divider-reverse-xy" style="height: 120px;">
        <div class="shape-divider-horizontal-animation shape-divider-horizontal-animation-to-left start">
            <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 2000 120" preserveAspectRatio="none">
                <polygon fill="#FFF" points="-11,2 693,112 2019,6 2019,135 -11,135 "></polygon>
            </svg>
        <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 2000 120" preserveAspectRatio="none">
                <polygon fill="#FFF" points="-11,2 693,112 2019,6 2019,135 -11,135 "></polygon>
            </svg><svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 2000 120" preserveAspectRatio="none">
                <polygon fill="#FFF" points="-11,2 693,112 2019,6 2019,135 -11,135 "></polygon>
            </svg></div>
    </div>
    <div class="spacer py-2 my-2"></div>
    <h2 class="text-center  text-light">futureanalytica</h2>
    <h1 class="text-center text-lg-12 text-light">AI Solutions</h1>
    <div class="spacer py-2 my-2"></div>
    <div class="shape-divider shape-divider-bottom shape-divider-reverse-y" style="height: 120px;">
        <div class="shape-divider-horizontal-animation shape-divider-horizontal-animation-to-right start">
            <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 2000 120" preserveAspectRatio="none">
                <polygon fill="#FFF" points="-11,2 693,112 2019,6 2019,135 -11,135 "></polygon>
            </svg>
        <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 2000 120" preserveAspectRatio="none">
                <polygon fill="#FFF" points="-11,2 693,112 2019,6 2019,135 -11,135 "></polygon>
            </svg><svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 2000 120" preserveAspectRatio="none">
                <polygon fill="#FFF" points="-11,2 693,112 2019,6 2019,135 -11,135 "></polygon>
            </svg></div>
    </div>
</section>


{% endblock content %}
